.search-section {
  width: 50%;
  margin: 10px;
}

.btn-section {
  display: flex;
}

.btn {
  margin: 10px;
}

table {
  width: 100%;
}

.result-section {
  width: 100%;
  margin: 10px;
}

.logo-preview {
  height: 5rem;
  margin: 1rem 0;
}
